html
{
    margin: 0px;
    padding: 0px;
}

body
{
    margin: 0px;
    padding: 0px;

    height: 100%;

    font-size: 50px;
    font-family: 'Helvetica Neue';
    background-color: rgb(50, 50, 50);
}

.discipline_selection
{
    background-color: white;
    border-radius: 20px;
    margin: 20px;

    text-align: center;
}

.disciplines
{
    padding: 20px;
}

.discipline
{
    padding: 5px;
    margin-top: 20px;

    background-color: rgb(100, 100, 100);

    font-size: 36px;
    color: white;

    text-align: left;

    border-radius: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.discipline:first-child
{
    margin-top: 0px;
}

.discipline_name
{
    font-size: 90px;
    text-align: center;
}
